<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153907066957-k4abeaqobqekvfkn2vqerl0r42qrv1q4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153907066957-k4abeaqobqekvfkn2vqerl0r42qrv1q4</string>
	<key>API_KEY</key>
	<string>AIzaSyAGJuZJsOeA2pdB-5oMUHvOIX5WGa2fTWY</string>
	<key>GCM_SENDER_ID</key>
	<string>153907066957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GIft-Match</string>
	<key>PROJECT_ID</key>
	<string>gift-giving-tinder</string>
	<key>STORAGE_BUCKET</key>
	<string>gift-giving-tinder.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:153907066957:ios:673d09c760e608dad74404</string>
</dict>
</plist>
